html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center; }

#board {
  position: relative;
  display: inline-block;
  padding-top: 20px; }
  #board.turn-player1 .buttons button:hover {
    background: red; }
  #board.turn-player1 .checker {
    background: red; }
  #board.turn-player2 .buttons button:hover {
    background: #eeee03; }
  #board.turn-player2 .checker {
    background: #eeee03; }
  #board .buttons {
    position: relative;
    z-index: 2;
    border: solid 10px transparent;
    overflow: hidden;
    width: 500px; }
    #board .buttons button {
      outline: none !important;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: 0;
      border-radius: 60px;
      background: #eee;
      margin: 5px; }
  #board .spaces {
    position: relative;
    z-index: 2;
    border: solid 10px blue;
    overflow: hidden;
    width: 500px;
    height: 500px; }
    #board .spaces .space {
      background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 255, 0) 1%, rgba(0, 0, 255, 0) 54%, blue 55%, blue 100%);
      /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 255, 0) 1%, rgba(0, 0, 255, 0) 54%, blue 55%, blue 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, rgba(0, 0, 255, 0) 1%, rgba(0, 0, 255, 0) 54%, blue 55%, blue 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      position: relative;
      width: 60px;
      height: 60px;
      float: left;
      clear: none; }
      #board .spaces .space > div {
        width: 48px;
        height: 48px;
        margin: 6px;
        border-radius: 60px; }
      #board .spaces .space.player1 > div {
        background: red; }
      #board .spaces .space.player2 > div {
        background: #eeee03; }
  #board .checker {
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 60px; }
    #board .checker.player1 {
      background: red; }
    #board .checker.player2 {
      background: #eeee03; }

form[name="settings"] {
  text-align: center;
  display: block; }
  form[name="settings"] .title {
    font-weight: bold; }
  form[name="settings"] label {
    display: inline-block;
    padding: 10px 10px; }
    form[name="settings"] label input[type="radio"] {
      vertical-align: text-bottom;
      margin-right: 7px; }

#game-over,
#game-start {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75); }
  #game-over .modal,
  #game-start .modal {
    background: #fff;
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 5px; }
    #game-over .modal p,
    #game-start .modal p {
      margin-bottom: 20px; }
    #game-over .modal h1,
    #game-start .modal h1 {
      font-size: 50px;
      margin-bottom: 20px; }
    #game-over .modal button,
    #game-start .modal button {
      background: #eee;
      border-color: #aaa;
      border-radius: 5px;
      padding: 5px;
      font: inherit;
      cursor: pointer;
      font-size: 110%; }

/*# sourceMappingURL=style.css.map*/