html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center; }

#board {
  position: relative;
  display: inline-block;
  padding-top: 20px; }
  #board.turn-player1 .buttons button:hover {
    background: red; }
  #board.turn-player1 .checker {
    background: red; }
  #board.turn-player2 .buttons button:hover {
    background: #eeee03; }
  #board.turn-player2 .checker {
    background: #eeee03; }
  #board .blocker {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2; }
  #board .buttons {
    position: relative;
    z-index: 2;
    border: solid 10px transparent;
    overflow: hidden;
    width: 500px; }
    #board .buttons button {
      outline: none !important;
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: 0;
      border-radius: 60px;
      background: #eee;
      margin: 5px;
      display: block;
      float: left; }
  #board .spaces {
    position: relative;
    z-index: 2;
    border: solid 10px blue;
    overflow: hidden;
    width: 500px;
    height: 500px; }
    #board .spaces .space {
      position: relative;
      width: 60px;
      height: 60px;
      float: left;
      clear: none;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.3) 52%, rgba(0, 0, 0, 0.5) 54%, blue 55%, blue 100%); }
      #board .spaces .space.player1 {
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.3) 52%, rgba(0, 0, 0, 0.5) 54%, blue 55%, blue 100%), red; }
      #board .spaces .space.player2 {
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.3) 52%, rgba(0, 0, 0, 0.5) 54%, blue 55%, blue 100%), #eeee03; }
  #board .checker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0 0 10px #000; }
    #board .checker.player1 {
      background: red; }
    #board .checker.player2 {
      background: #eeee03; }

#game-tie,
#game-over,
#game-start {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75); }
  #game-tie .modal,
  #game-over .modal,
  #game-start .modal {
    background: #fff;
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 5px; }
    #game-tie .modal p,
    #game-over .modal p,
    #game-start .modal p {
      margin-bottom: 20px; }
    #game-tie .modal h1,
    #game-over .modal h1,
    #game-start .modal h1 {
      font-size: 50px;
      margin-bottom: 20px; }

.btn {
  background: #eee;
  border-color: #aaa;
  border-radius: 5px;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  font-size: 110%; }

/*# sourceMappingURL=style.css.map */