@import 'reset';

$player1color: rgba(203, 44, 43, 1);
$player2color: rgba(236, 216, 86, 1);
$boardColor: rgb(43, 85, 184);
$size: 12vmin;
$borderWidth: $size * 0.15;
$gradientCircle: radial-gradient(
    ellipse at center,
    rgba($boardColor, 0) 1%,
    rgba($boardColor, 0) 51%,
    rgba($boardColor, 0.3) 52%,
    rgba($boardColor, 0.5) 54%,
    rgba($boardColor, 1) 55%,
    rgba($boardColor, 1) 100%
);

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, #dbf5f6, #b7cae7);
}

body > footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    width: $size * 8;
    margin: 1rem auto 0;
    align-items: flex-end;
    padding-bottom: 1rem;
    color: $boardColor !important;
    a {
        color: $boardColor !important;
    }
    .version {
        font-weight: bold;
    }
}

#size {
    width: $size;
    height: $size;
    position: fixed;
}

#template {
    display: none;
}

#board {
    position: relative;
    box-sizing: content-box;
    width: fit-content;
    margin: 2vh auto 2vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: visible;

    .checker {
        background: green;
        border-radius: 100%;
        width: $size;
        height: $size;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
            border-radius: 100%;
            border: solid 1px rgba(0, 0, 0, 0.25);
            width: $size * 0.95;
            height: $size * 0.95;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(
                60deg,
                //
                rgba(255, 255, 255, 0.2) 0%,
                //
                rgba(255, 255, 255, 0.1) 10%,
                //
                rgba(0, 0, 0, 0.2) 100%
            );

            > div {
                border-radius: 100%;
                width: $size * 0.75;
                height: $size * 0.75;
                background: green;
                > div {
                    border-radius: 100%;
                    width: $size * 0.75;
                    height: $size * 0.75;
                    background: linear-gradient(
                        170deg,
                        //
                        rgba(255, 255, 255, 0.7) 0%,
                        //
                        rgba(255, 255, 255, 0.1) 5%,
                        //
                        rgba(0, 0, 0, 0.2) 100%
                    );
                    border: solid 1px rgba(0, 0, 0, 0.25);
                }
            }
        }

        &.player1 {
            background: $player1color;
            > div {
                > div {
                    background: $player1color;
                }
            }
        }
        &.player2 {
            background: $player2color;
            > div {
                > div {
                    background: $player2color;
                }
            }
        }
    }

    .next {
        height: $size;
        padding: 0 $borderWidth;
        position: relative;

        .track {
            position: relative;
            height: $size;
            display: flex;
            overflow: hidden;

            .column {
                width: $size;
            }

            .checker {
                left: 0;
                bottom: calc($size/-12);
                position: absolute;
                transition: left 0.5s ease-out;
                @media (hover: none) {
                    display: none;
                }
            }
        }

        .opening {
            width: 100%;
            position: absolute;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            background: $boardColor;
            border: solid $borderWidth $boardColor;
            border-bottom-width: 0;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            height: $borderWidth * 2.75;
            bottom: 0;
            left: 0;
            right: 0;

            .background {
                height: $borderWidth;
                z-index: 1;
                background: transparent;
                div {
                    background-color: rgba(0, 0, 0, 0.25);
                    width: 100%;
                    height: $borderWidth * 0.5;
                    margin-top: $borderWidth * 0.5;
                    border-top-left-radius: $size * 0.1;
                    border-top-right-radius: $size * 0.1;
                }
            }

            .foreground {
                height: $borderWidth;
                z-index: 4;
                background: transparent;
                top: $borderWidth;
                border-bottom: solid $borderWidth $boardColor;
                div {
                    background-color: rgba(0, 0, 0, 0.25);
                    width: 100%;
                    height: $borderWidth * 0.5;
                    margin-bottom: $borderWidth * 0.5;
                    border-bottom-left-radius: $size * 0.1;
                    border-bottom-right-radius: $size * 0.1;
                }
            }
        }
    }

    > .foreground {
        position: absolute;
        top: $size;
        width: 100%;
        bottom: 0;
        z-index: 3;
        background-image: $gradientCircle;
        background-position: 0 0, $size $size;
        background-size: $size $size;
        pointer-events: none;
        border: solid ($borderWidth) $boardColor;
        border-top: none;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        margin-bottom: -1.35vmin;
    }

    .columns {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-right: 1.35vmin;
        margin-left: 1.35vmin;

        .column {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            justify-content: flex-start;
            height: $size * 6;
            width: $size;
            box-sizing: content-box;

            .checker {
                z-index: 1;
            }
        }
    }

    .checkers {
        position: absolute;
        top: 0;
        right: $borderWidth;
        bottom: $borderWidth;
        left: $borderWidth;
        transition: top 500ms ease-out;
    }
}

#game-tie,
#game-over,
#game-start {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    .modal {
        background: #fff;
        position: absolute;
        z-index: 101;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
        padding: 2rem;
        border-radius: 0.5rem;
        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1rem;
        }
        footer {
            margin-top: 2rem;
        }
    }
}

.btn {
    background: $boardColor;
    color: adjust-color(#fff, $alpha: -0.05);
    border: solid 1px adjust-color($boardColor, $lightness: -10%);
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font: inherit;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
}
